<!-- Dados do cliente -->
<div class="cliente-form">
  <input [(ngModel)]="nomeCliente" placeholder="Seu nome" />
  <input [(ngModel)]="telefoneCliente" placeholder="Seu telefone" />
  <input [(ngModel)]="enderecoCliente" placeholder="Seu endereço" />
  <label class="comentario-label">
    Comentário do pedido
    <textarea [(ngModel)]="comentarioCliente" placeholder="Escreva sua observação" rows="4"></textarea>
  </label>
</div>

<hr>

<!-- Lista de produtos no carrinho -->
<div *ngFor="let p of carrinho; let i = index" class="item">

  <!-- AQUI entra a imagem -->
<img 
  class="foto-produto"
  [src]="imagemProduto(p)"
  (error)="usarImagemLocal($event, p)"
  alt="{{ p.name }}"
/>

  <div class="info">
    <p>{{ p.name }}</p>
    <p>R$ {{ p.price }}</p>
  </div>

  <button (click)="remover(i)">Remover</button>
</div>


<hr>

<!-- Total -->
<p class="total">Total: R$ {{ total }}</p>

<!-- Botão finalizar -->
<button class="finalizar" (click)="enviarWhatsApp()">
  Finalizar pedido
</button>
